<h1>Welcome to my Travel Site!</h1>
<br/>

<h2>Places I've Visited Outside USA</h2>

<ul>
    <li><h3>Shanghai, China</h3> <br/>
    <%= image_tag 'travel.jpg', alt: 'Shanghai', id: 'pic', class: 'country', height: 300, width: 400, class: "img-responsive" %></li>
    <li><h3>Beijing, China</h3> <br/>
        <%= image_tag 'travel.jpg', alt: 'Beijing', id: 'pic', class: 'country', height: 300, width: 400, class: "img-responsive" %></li>
    <li><h3>Tianjing, China</h3> <br/>
    <%= image_tag 'travel.jpg', alt: 'Tianjing', id: 'pic', class: 'country', height: 300, width: 400, class: "img-responsive" %></li>
    <li><h3>Hong Kong</h3> <br/>
    <%= image_tag 'travel.jpg', alt: 'Hong Kong', id: 'pic', class: 'country', height: 300, width: 400, class: "img-responsive" %></li>
    <li><h3>Tokyo, Japan</h3> <br/>
    <%= image_tag 'travel.jpg', alt: 'Tokyo', id: 'pic', class: 'country', height: 300, width: 400, class: "img-responsive" %></li>
    <li><h3>Cozumel, Mexico</h3> <br/>
        <%= image_tag 'travel.jpg', alt: 'Cozumel', id: 'pic', class: 'country', height: 300, width: 400, class: "img-responsive" %></li>
        
</ul>

